#root {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: #263238;
    margin-top: 30px;
}

.cell {
    width: calc(33.33% - 20px);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    font-weight: bold;
    background-color: #455a64;
    color: #ececec;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.cell:hover {
    background-color: #37474f;
}

.restart-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: none;
    background-color: #f44336;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.restart-button:hover {
    background-color: #d32f2f;
}